.card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.image {
  object-fit: cover;
}

.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #2563eb;
  margin: 0;
}

.button {
  padding: 16px;
  background: linear-gradient(to right, #2563eb, #06b6d4);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}

.button:hover {
  transform: translateY(-2px);
}

/* Адаптивність */
@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .imageWrapper {
    height: 250px;
  }
}
